{% extends 'base.html' %}
{% block content %}
    <div class="row">
    <h1>Самосвалы в работе</h1>
        <form action="">
            {{ form.search }}

            <input type="submit" value="Поиск">
        </form>
    <table class="table table-bordered">
        <tr>
            <th>Бортовой номер</th>
            <th>Модель</th>
            <th>Максимальная грузоподьемность, т</th>
            <th>Текущий вес, т</th>
            <th>Перегруз, %</th>
        </tr>
        {% for truck in object_list %}
            <tr>
                <td>{{ truck.number }}</td>
                <td>{{ truck.type }}</td>
                <td>{{ truck.type.capacity }}</td>
                <td>{{ truck.weight }}</td>
                <td>{{ truck.overload }}</td>

            </tr>
        {% empty %}
           <tr><td colspan="5">В текущий момент в работе нет самосвалов</td></tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}